.fail {
  color: red;
}

.success {
  color: green;

}

.success::before{
  font-family: FontAwesome;
  top:0;
  left:-5px;
  padding-right:10px;
  content: "\f05d";
}

.fail::before {
  font-family: FontAwesome;
  top:0;
  left:-5px;
  padding-right:10px;
  content: "\f05c";
}


.popover-content {
  background-color: darkgray !important;
}
