.popover-body {
  background-color: #c9ecff;
  font-size: 12px;
  padding: 10px !important;
}


.popover.right>.arrow:after {
  border-right-color: #c9ecff;

}

.popover-title {
  background-color: #1972a2;
  color: #ffffff;
  margin-bottom: 0px;
}

.popover{
border: transparent;

}



/*Accordion Overide*/
.ui-accordion .ui-accordion-header a {
  background-color: #1972a2;
  color: #ffffff !important;
}

.ui-accordion .ui-accordion-header>.fa {
  left: 98% !important;
}

.fa-caret-right:before {
  color: #ffffff;
}

.fa-caret-down:before{
  color: #ffffff;
}

